:root {
  --gray: rgba(0, 0, 0, 0.4);

  --text_l: 128px;
  --text_m: 55px;
  --text_s: 36px;
  --text_xs: 18px;

  --height_l: calc(var(--text_l) + 19.2px);
  --height_m: calc(var(--text_m) + 12px);
  --height_s: calc((var(--text_s) + 9.59px));
}

body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  overflow-x: hidden;
  word-break: keep-all;
  transition: background-color 0.5s;
}
.body_fixed {
  overflow-y: hidden;
}
img {
  width: 50vw;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.green-bg {
  background-color: rgb(20, 255, 20);
}
#countdown {
  cursor: pointer;
  font-size: 36vw;
  text-align: center;
  position: absolute;
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  top: 50%;
  -ms-transform: translateY(calc(-50%));
  transform: translateY(calc(-50%));
}
.nav {
  position: fixed;
  top: 5px;
  height: 55.2px;
  font-size: 1em;
  margin: 10px 0 0 20px;
  display: flex;
  gap: 22px;
  text-transform: uppercase;
}
a {
  color: var(--gray);
  text-decoration: none;
}
a:visited {
  color: var(--gray);
}
a:hover {
  color: black;
}
.isdisabled {
  /* color: var(--gray); */
  display: none;
  /* cursor: not-allowed; */
  /* text-decoration: none; */
}
.isdisabled:hover {
  /* color: var(--gray); */
}
.intro {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 90px 20px 40px 20px;
  padding-top: 10px;
  font-size: var(--text_s);
  line-height: 1.1;
}
.intro-main {
  margin-bottom: 30px;
}
.intro-sub {
  display: flex;
  margin-bottom: 10px;
}
.inst_link {
  color: black !important;
  text-decoration: underline;
  text-underline-offset: 4.5px;
}
.num {
  min-width: 1.25em;
}
.note {
  color: var(--gray);
  margin: 0 20px 5px 20px;
  font-size: var(--text_xs);
  display: flex;
  gap: 10px;
}
.lastnote {
  margin-bottom: 60px;
}
#copyButton {
  position: fixed;
  height: 45px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
/*  */
.container {
  margin: 0 20px;
  height: 100dvh;
  min-height: -webkit-fill-available;
}
.text-container {
  position: relative;
  margin: 0;
}
.text-container_1b {
  height: var(--height_m);
}
.text-container_2b {
  height: calc(var(--height_m) * 2.5);
}
.text-container_1c {
  height: calc(var(--height_s) * 3);
}
.text-container_1b {
  top: calc(50% - (var(--height_m) * 2.1));
}
.text-container_1c {
  top: calc(50% - (var(--height_s) * 4.7));
  margin-bottom: 20px;
}
.text-container_2b {
  top: calc(50% - calc(var(--height_m) * 1.15));
}

.text,
.texts {
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.text {
  font-size: var(--text_m);
}
.texts {
  font-size: var(--text_s);
}

@media only screen and (min-width: 580px) {
  /* For desktop: */
  .intro {
    font-size: var(--text_m);
  }
  .text {
    font-size: var(--text_l);
  }
  .texts {
    font-size: var(--text_m);
  }
  .text-container_1b {
    height: var(--height_l);
  }
  .text-container_2b {
    height: calc(var(--height_l) * 2.5);
  }
  .text-container_1c {
    height: calc(var(--height_m) * 2.5);
  }
  .text-container_1b {
    top: calc(50% - (var(--height_l) * 2));
  }
  .text-container_1c {
    top: calc(50% - (var(--height_m) * 4));
  }
  .text-container_2b {
    top: calc(50% - calc(var(--height_l)));
  }
  .inst_link {
    text-underline-offset: 8px;
  }
}
